/* style */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 10px;
}

form input {
  margin: 3px;
}

form button {
  margin: 3px;
}
